  <title>css/national.css</title>

  * {
          margin: 0px; padding: 0px;
  }

  /* make the background of the page black */
  body {
          background: black;
  }

  /* flag canvas */
  #canvas {
          width: 500px;
          height: 300px;
          position: relative;
          background: white;
  }

  /* shapes */
  #circle {
          width: 150px;
          height: 150px;
          background: red;
          border-radius: 75px;
  }
