  <title>css/national.css</title>
  p.serif {

  }* {  margin: 0px; padding: 0px;}
body {background: black;}

#canvas {
          width: 500px;
          height: 300px;
          position: relative;
          background: gold;}
  #CALIFORNIA

#star-five {
        margin: 60px 0;
        position: relative;
        display: block;
        color: white;
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid White;
        border-left: 100px solid transparent;
        transform: rotate(35deg);
      }
      #star-five:before {
    border-bottom: 80px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    transform: scale(40px);
  }
     #star-five:after {
     position: absolute;
     display: block;
     color: white;
     top: 3px;
     left: -105px;
     width: 0px;
     height: 0px;
     border-right: 100px solid transparent;
     border-bottom: 70px solid white;
     border-left: 100px solid transparent;
     transform: rotate(-70deg);
     content: '';
   }
