

  }* {  margin: 0px; padding: 0px;}


body {background: black;}
}



#canvas {
  max-width: 500px;
  max-height: 300px;
  position: relative;
  background: red;
  z-index: 0;
}

#square {
  width: 500px;
  height: 300px;
  position: absolute;
  background: yellow;
  z-index: 0;
}

#CALIFORNIA {
  color: black;
  position: absolute;
  bottom: 2px;
  top: 240px;
  left:35px;
  font-size: 40px;
  text-align: center;
  z-index: 2
}
#✫ {
  color: black;
  position: absolute;
  bottom: 2px;
  top: 240px;
  left:35px;
  font-size: 40px;
  text-align: center;
  z-index: 2
}

#shadow {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 65px;
  left: 55px;
  background: none;
  z-index: 1;
}

/*
        .container {
          position: relative;
          text-align: center;
          color: white;
          position: absolute;
        top: 12%;
        left: 32%;
          font-size: 30px;
          text-decoration: underline;
        transform: translate(-50%, -50%);*/
