

  }* {  margin: 0px; padding: 0px;}


body {background: black;}
}
#rectangle {
  height: 50px;
  width: 100px;
  color: #555;
  position: absolute;
}


#bear {
  position: absolute;
  width: 400px;
  height: 200px;
  top: -1px;
  left:30px;

}

#CALIFORNIA {
  color: black;
  position: absolute;
  bottom: 2px;
  top: 210px;
  left:30px;
  font-size: 40px;
  text-align: center;
  z-index: 3;
}

img {
  position: absolute;
  width: 300px;
  height: 160px;
  top: 30px;
  left: 110px;
  background: none;
  z-index: 2;
}
#star {
  position: absolute;
  width: 120px;
  height: 90px;
  top:10px;
  left: -08px;
}

    }
    /* shapes */
    #boarder {
      position: absolute;
            width: 500px;
            height: 600px;
            background: red;


    }
    /* flag canvas */
    #canvas {
            width: 500px;
            height: 300px;
            position: absolute;
            background: white;
    }
