
body {background: black;}


#bear {
  position: absolute;

  width: 00px;
  height: 250px;
  top: -1px;
  center:5px;
z-index: 3;
}

#CALIFORNIA {
  color: black;
  position: absolute;
  top: 220px;
  left:70px;
  font-size: 30px;
  text-align: ;
  z-index: 2;
}
#REPUBLIC {
  color: black;
  position: absolute;
  bottom: 2px;
  top: 220px;
  left:280px;
  font-size: 30px;
  text-align: ;
  z-index: 2;
}
#square {
    top: 260px;
  position: absolute;
  height: 40px;
  width: 500px;
  background-color: #FF0000;
}
#star {
  position: absolute;
  width: 100px;
  height: 70px;
  top:10px;
  left: -08px;
  z-index: 4;
  @-webkit-keyframes super-rainbow {
    0%   { background: red; }
    20%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}

keyframes super-rainbow {
    0%   { background: red; }
    20%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}
#star {
     background: red;
     -webkit-animation: super-rainbow 15s infinite alternate linear;
     -moz-animation: super-rainbow 15s infinite alternate linear;
}
}

    #canvas {
            width: 500px;
            height: 300px;
            position: absolute;
            background: white;
            z-index: 1;
    }
