body {
    background:#1d2c38

}
p {
  font-family: "Arial Black", Gadget, sans-serif;
 color: #f2d357;
}

A {color: #f2d357;}
h1 {
  color: #f2d357;
}
h2 {
  color: #f2d357;
}

ul {
  color: #fff;
}
