
body {
  background: white;
}



p {
  font-family: "Arial Black", Gadget, sans-serif;
 color: black;
 margin-left: 50px;
}
img {
  max-width: 75%;
  max-height: 75%;
  margin-left: 50px;

}
a:hover {
  color: red;
}
h1 {
  color: black;
    padding: 60px;
    text-align: center;
    background: purple;
    color: white;
    font-size: 40px;
  }
  h2 {
    color: #black;
    margin-left: 50px;
  }
  ul {
    color: #fff;
  }
