* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  height: auto;
  position: absolute;
}
#desktop {
    display: inline;
    color: white;
}
#tablet,
#mobile,
#smallmobile,
#gif  {
    display: none;
}

/* tablet */
@media (min-width: 900px) and (max-width: 1200px) {
    #tablet {
        display: inline;
        color: white;
    }
    #desktop,
    #mobile,
    #smallmobile,
    #gif  {
        display: none;
    }
}

/* mobile */
@media (max-width: 900px) and (min-width: 600px) {
    #mobile {
        display: inline;
        color: white;
    }
    #desktop,
    #tablet,
    #smallmobile,
    #gif  {
        display: none;
    }
}



@media (max-width: 600px) and (min-width:200px) {
    #smallmobile {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #mobile,
    #gif {
        display: none;
    }
}

@media (max-width: 200px) {
    #gif {
      transform: scale(1.5);
      display: inline;
      color: white;
    }
    #desktop,
    #tablet,
    #mobile,
    #smallmobile {
      display: none;
    }
}
