
#Atop{
  border-radius: 65px;
  background: #ffcccc;
  padding: 10px;
  width: 100px;
  height: 25px;
}

#Alside{
  border-radius: 65px;
  background: #ffcccc;
  padding: 10px;
  width:25px;
  height: 190px;
  position: absolute;
  top: 1%
}
#Arside{
  border-radius: 65px;
  background: #ffcccc;
  padding: 10px;
  width:25px;
  height: 190px;
  position: absolute;
  left:83px;
  top: 1%
}
#Amiddle{
      border-radius: 65px;
      background: #ffcccc;
      padding: 10px;
      width: 8px;
      height: 25px;
      left:54px;
      position: absolute;
      top: 10%
}

#Bmiddle {
  border-radius: 65px;
  background: #ffcccc;
  padding: 10px;
  width: 40px;
  height: 25px;
  position: absolute;
  left:220px;
  top: 9%
}

#Blside{
    border-radius: 65px;
    background: #ffcccc;
    padding: 10px;
    width:25px;
    height: 190px;
    position: absolute;
    left:160px;
    top: 1%
  }
  #Brside{
     border-radius: 65px;
    background: #ffcccc;
    padding: 10px;
    width:25px;
    height: 90px;
    position: absolute;
    left:235px;
    top: 1%
    }

    #Brside2 {
       border-radius: 65px;
      background: #ffcccc;
      padding: 10px;
      width:25px;
      height: 55px;
      position: absolute;
      left:235px;
      top: 16%
      }

    #Btop {
      border-radius: 65px;
      background: #ffcccc;
      padding: 10px;
      width: 100px;
      height: 25px;
      position: absolute;
      left:160px;
      top: 0%
    }
    #Bbottom {
      border-radius: 65px;
      background: #ffcccc;
      padding: 10px;
      width: 100px;
      height: 25px;
      position: absolute;
      left:160px;
      top: 20%
    }
    #Ctop{
      border-radius: 65px;
      background: #ffcccc;
      padding: 10px;
      width: 100px;
      height: 25px;
     left:310px;
    position: absolute;
    top: 0%
    }
    #Clside{
        border-radius: 65px;
        background: #ffcccc;
        padding: 10px;
        width:25px;
        height: 199px;
        position: absolute;
        left:310px;
        top: 0%
      }
      #Cbottom {
        border-radius: 65px;
        background: #ffcccc;
        padding: 10px;
        width: 100px;
        height: 25px;
        position: absolute;
        left:310px;
        top: 20%
      }
      #Dlside{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 190px;
          position: absolute;
          left:535px;
          top: 0%
        }
        #Dtop {
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width: 100px;
          height: 25px;
          position: absolute;
        left:456px;
          top: 0
        }
         #Drside {
             border-radius: 65px;
            background: #ffcccc;
            padding: 10px;
            width:25px;
            height: 130px;
            position: absolute;
          left:458px;
            top: 8%
            }
        #Dbottom {
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width: 100px;
          height: 25px;
          position: absolute;
          left:458px;
          top: 020%
        }
      #Etop {
        border-radius: 65px;
        background: #ffcccc;
        padding: 10px;
        width: 100px;
        height: 25px;
        position: absolute;
        left:610px;
        top: 0%
      }  #Emiddle {
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width: 100px;
          height: 25px;
          left:610px;
          position: absolute;
          top: 10%
        }

      #Ebottom {
        border-radius: 65px;
        background: #ffcccc;
        padding: 10px;
        width: 100px;
        height: 25px;
        position: absolute;
        left:610px;
        top: 20%
      }
      #Ftop {
        border-radius: 65px;
        background: #ffcccc;
        padding: 10px;
        width: 100px;
        height: 25px;
        position: absolute;
        left:760px;
        top: 0%
      }
      #Flside{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 100px;
          position: absolute;
          left:760px;
          top: 1%
        }
        #Flside2{
            border-radius: 65px;
            background: #ffcccc;
            padding: 10px;
            width:25px;
            height: 60px;
            position: absolute;
            left:760px;
            top: 16%
          }
        #Fmiddle {
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width: 100px;
          height: 25px;
          position: absolute;
          left:760px;
          top: 10%
        }
        #Xlside{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 80px;
          position: absolute;
          left:760px;
          top: 90%
        }
        #Xrside{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 80px;
          position: absolute;
          left:830px;
          top: 90%
        }
        #Xmiddle{
              border-radius: 65px;
              background: #ffcccc;
              padding: 10px;
              width: 20px;
              height: 23px;
                left:797px;
              position: absolute;
              top: 99.7%
        }
        #Xlside2{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 80px;
          position: absolute;
          left:830px;
          top: 103%
        }
        #Xrside2{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
        height: 80px;
          position: absolute;
              left:760px;
          top: 103%
        }
        #Vlside{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 170px;
          position: absolute;
          left:460px;
          top: 90%
        }
        #Vrside{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 170px;
          position: absolute;
            left:535px;
          top: 90%
        }
        #Vmiddle{
              border-radius: 65px;
              background: #ffcccc;
              padding: 10px;
              width: 20px;
              height: 25px;
              left:500px;
              position: absolute;
              top: 109%
        }
        #Vlside2{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 170px;
          position: absolute;
          left:460px;
          top: 90%
        }
        #Vrside2{
          border-radius: 65px;
          background: #ffcccc;
          padding: 10px;
          width:25px;
          height: 170px;
          position: absolute;
            left:535px;
          top: 90%
