#WL{
  border-radius: 65px;
  background: #ffcccc;
  padding: 10px;
  width:25px;
  height: 200px;
  position: absolute;
    left:1100px;
  top: 0%
}
#WR{
  border-radius: 65px;
  background: #ffcccc;
  padding: 10px;
  width:25px;
  height: 200px;
  position: absolute;
  left:600px;
  top: 90%
}
#WM{
      border-radius: 65px;
      background: #ffcccc;
      padding: 10px;
      width: 20px;
      height: 25px;
          left:1150px;
      position: absolute;
      top: 15%
}
