
.face {

  left:10px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 20px;
    padding: 30px;
    background: none;
    transition: .3s ease-in-out;
}

.face:hover {
    background: none;
}

.eye {
  left:10px;
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-transform-origin: 50%;
    -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
