


@-webkit-keyframes rotate{
  0%{-webkit-transform: rotate(-90deg) rotateY(0) scale(0)}
  4%{-webkit-transform: rotate(90eg) rotateY(0) scale(0.7)}
  80%{-webkit-transform: rotate(180deg) rotateY(0) scale(1)}
  100%{-webkit-transform: rotate(-360deg) rotateY(0) scale(0)}
}

.nose {
  position: absolute;
  top: 22.5%;
  width: 30px;
  height: 10px;
  background-color: #e74c3c;
  border-radius: 50%;
  margin-left: 8px;

    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}

* {
    box-sizing: border-box;
}





.face {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 200px;
    padding: 30px;
    background: non;
    transition: .3s ease-in-out;
}

.face:hover {
    background: pink;
}

.eye {
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transform-origin: 50%;
    -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes: blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
