
.eyes, .eye-lid {
  text-align: center;
  display: flex;
  font-size: 0.55em;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 6em;
  top: 27em;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 75%;
  height: 75%;
  background-color: black;
  border-radius: 50%;
}
.eye-lid{
  background-color: white;
  border-radius: 0.5em 0.5em 0.5em 0.5em / 0.6em 0.6em 0.4em 0.4em;
  box-shadow: 0.03em 0.14em rgba(0,0,0,0.1);
}

.eye-lid.blink, .eye-lid.blink .eyes {
  animation: blinkEye 0.4s;
}

.keyframes blinkEye {
  0% {
    border-radius: 0.5em 0.5em 0.5em 0.5em / 0.6em 0.6em 0.4em 0.4em;
    height: 1em;
  }
  25% {
    border-radius: 50%;
    height: 0.75em;
  }
  50% {
    border-radius: 50%;
    height: 0.5em;
  }
  75% {
    border-radius: 50%;
    height: 0.75em;
  }
  100% {
    border-radius: 0.5em 0.5em 0.5em 0.5em / 0.6em 0.6em 0.4em 0.4em;
    height: 1em;
  }
}

.eye:after { /*pupil*/
  --pupil-size: 1em;
  position: absolute;
  left: -5em;
  top: -30em;
  width: var(--pupil-size);
  height: var(--pupil-size);
  background: white;
  border-radius: 50%;
  content: " ";
}
