.nose49 {
  position: absolute;
  left:21.5%;
  top: 143%;
  width: 10px;
  height: 30px;
  background-color: #e74c3c;
  border-radius: 50%;
  margin-left: 8px;
  -webkit-transform-origin: 50%;
    -webkit-animation: blink 0.8s infinite;
}.nose49:hover {
    background-color:#e74c3c;
}

.nose50 {
  position: absolute;
  left:21.5%;
  top: 143%;
  width: 10px;
  height: 30px;
  background-color: #e74c3c;
  border-radius: 50%;
  margin-left: 8px;
  -webkit-transform-origin: 50%;
    -webkit-animation: blink 0.8s infinite;
}
.nose50:hover {
    background-color:#e74c3c;
}
.nose51 {
  position: absolute;
  left:21.5%;
  top: 143%;
  width: 30px;
  height: 10px;
  background-color: #e74c3c;
  border-radius: 50%;
  margin-left: 8px;
  -webkit-transform-origin: 50%;
    -webkit-animation: blink 0.8s infinite;
}
.nose51:hover {
    background-color:#e74c3c;
}
