.eye {
  position: absolute;
  top: 200px;
  left:10px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye2 {
  position: absolute;
  top: 200px;
  left:47px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}

.eye3 {
  position: absolute;
  top: 129px;
  left:56px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 3s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye4 {
  position: absolute;
  top: 129px;
  left:75px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 3s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}





.eye5 {
  position: absolute;
  top: 190px;
  left:240px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2.5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye6 {
  position: absolute;
  top: 190px;
  left:270px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2.5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}

.eye7 {
  position: absolute;
  top: 230px;
  left:397px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 11s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye8 {
  position: absolute;
  top: 200px;
  left:397px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 11s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye9 {
  position: absolute;
top: 120px;
  left:465px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye10 {
  position: absolute;
  top: 120px;
  left:490px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye11 {
  position: absolute;
  top: 140px;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 6s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye12 {
  position: absolute;
  top: 115px;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 6s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye13 {
  position: absolute;
  top: 50px;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 4s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye14 {
  position: absolute;
  top: 20px;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 4s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}

.eye15 {
  position: absolute;
  top: 50px;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 3s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye16 {
  position: absolute;
  top: 20px;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 3s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye17 {
  position: absolute;
  top: 205px;;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 10s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye18 {
  position: absolute;
  top: 230px;
  left:634px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 10s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye19 {
  position: absolute;
  top: 195px;;
  left:766px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye20 {
  position: absolute;
  top: 195px;
  left:790px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye21 {
  position: absolute;
  top: 335px;;
  left:696px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 7s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye22 {
  position: absolute;
  top: 335px;
  left:725px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 7s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye23 {
  position: absolute;
  top: 115px;;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye24 {
  position: absolute;
  top: 135px;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye25 {
  position: absolute;
  top: 505px;;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 7s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye26 {
  position: absolute;
  top: 475px;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 7s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye27 {
  position: absolute;
  top: 505px;;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye28 {
  position: absolute;
  top: 475px;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye29 {
  position: absolute;
  top: 325px;;
  left:640px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye30 {
  position: absolute;
  top: 325px;
  left:615px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye31 {
  position: absolute;
  top: 325px;;
  left:240px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye32 {
  position: absolute;
  top: 325px;
  left:270px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye33 {
  position: absolute;
  top: 290px;;
  left:330px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye34 {
  position: absolute;
  top: 325px;
  left:330px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye35 {
  position: absolute;
  top: 290px;;
  left:560px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye36 {
  position: absolute;
  top: 325px;
  left:560px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye37 {
  position: absolute;
  top: 390px;;
  left:685px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye38 {
  position: absolute;
  top: 413px;
  left:685px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye39 {
  position: absolute;
  top: 479px;;
  left:325px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye40 {
  position: absolute;
  top: 500px;
  left:325px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye41 {
  position: absolute;
  top: 319px;;
  left:104px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye42 {
  position: absolute;
  top: 295px;
  left:104px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye43 {
  position: absolute;
  top: 485px;;
  left:195px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye44 {
  position: absolute;
  top: 485px;
  left:164px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye43 {
  position: absolute;
  top: 365px;;
  left:503px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye44 {
  position: absolute;
  top: 365px;
  left:530px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye45 {
  position: absolute;
  top: 365px;;
  left:355px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye46 {
  position: absolute;
  top: 365px;
  left:385px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye47 {
  position: absolute;
  top: 305px;;
  left:165px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye48 {
  position: absolute;
  top: 305px;
  left:195px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye49 {
  position: absolute;
  top: 485px;;
  left:165px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye50 {
  position: absolute;
  top: 485px;
  left:195px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye51 {
  position: absolute;
  top: 485px;;
  left:165px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye52 {
  position: absolute;
  top: 485px;
  left:195px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye53 {
  position: absolute;
  top: 745px;;
  left:5px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye54 {
  position: absolute;
  top: 745px;
  left:35px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye55 {
  position: absolute;
  top: 865px;;
  left:100px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye56 {
  position: absolute;
  top: 835px;
  left:100px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye57 {
  position: absolute;
  top: 1130px;;
  left:15px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye58 {
  position: absolute;
  top: 1130px;
  left:42px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye59 {
  position: absolute;
  top: 1300px;;
  left:81px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

      -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye60 {
  position: absolute;
  top: 1300px;
  left:52px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye61 {
  position: absolute;
  top: 1325px;;
  left:252px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye62 {
  position: absolute;
  top: 1295px;
  left:252px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye63 {
  position: absolute;
  top: 915px;;
  left:242px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye64 {
  position: absolute;
  top: 915px;
  left:210px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye65 {
  position: absolute;
  top: 855px;;
  left:342px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye66 {
  position: absolute;
  top: 855px;
  left:315px;
  background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye67 {
  position: absolute;
  top: 855px;;
  left:632px;
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye68 {
  position: absolute;
  top: 855px;
  left:605px;
    background: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye69 {
  position: absolute;
  top: 855px;;
  left:632px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye70 {
  position: absolute;
  top: 855px;
  left:605px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye71 {
  position: absolute;
  top: 975px;;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye72 {
  position: absolute;
  top: 975px;
  left:865px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye73 {
  position: absolute;
  top: 900px;;
  left:765px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye74 {
  position: absolute;
  top: 900px;
  left:795px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye75 {
  position: absolute;
  top: 970px;;
  left:765px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye76 {
  position: absolute;
  top: 970px;
  left:795px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye77 {
  position: absolute;
  top: 855px;;
  left:539px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye78 {
  position: absolute;
  top: 855px;
  left:565px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye79 {
  position: absolute;
  top: 855px;;
  left:632px;
 background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye80 {
  position: absolute;
  top: 855px;
  left:605px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye81 {
  position: absolute;
  top: 905px;;
  left:865px;
 background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye82 {
  position: absolute;
  top: 906px;
  left:835px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye83 {
  position: absolute;
  top: 940px;;
  left:805px;
 background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye84 {
  position: absolute;
  top: 940px;
  left:825px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye85 {
  position: absolute;
  top: 965px;;
  left:655px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye86 {
  position: absolute;
  top: 965px;
  left:675px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye87 {
  position: absolute;
  top: 1019px;;
  left:505px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye88 {
  position: absolute;
  top: 1019px;
  left:529px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye89 {
  position: absolute;
  top: 865px;;
  left:189px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye90 {
  position: absolute;
  top: 840px;
  left:189px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye91 {
  position: absolute;
  top: 850px;;
  left:697px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye92 {
  position: absolute;
  top: 850px;
  left:729px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye93 {
  position: absolute;
  top: 850px;;
  left:497px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye94 {
  position: absolute;
  top: 850px;
  left:463px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye95 {
  position: absolute;
  top: 675px;;
  left:547px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye96 {
  position: absolute;
  top: 650px;
  left:547px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye97 {
  position: absolute;
  top: 598px;;
  left:403px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye98 {
  position: absolute;
  top: 560px;
  left:403px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
.eye99 {
  position: absolute;
  top: 740px;;
  left:240px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye100 {
  position: absolute;
  top: 740px;
  left:268px;
background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}
