.eye {
  position: absolute;
  top: 200px;
  left:10px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye2 {
  position: absolute;
  top: 200px;
  left:47px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}

.eye3 {
  position: absolute;
  top: 129px;
  left:56px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 3s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye4 {
  position: absolute;
  top: 129px;
  left:75px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 3s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}





.eye5 {
  position: absolute;
  top: 190px;
  left:240px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2.5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye6 {
  position: absolute;
  top: 190px;
  left:270px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2.5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}

.eye7 {
  position: absolute;
  top: 230px;
  left:397px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye8 {
  position: absolute;
  top: 200px;
  left:397px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye9 {
  position: absolute;
top: 120px;
  left:465px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
.eye10 {
  position: absolute;
  top: 120px;
  left:490px;
    background: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    -webkit-animation: blink 5s infinite;
}

@-webkit-keyframes blink {
    0%, 100% {
        transform: scale(1, .05);
    }
    5%,
    95% {
        transform: scale(1, 1);
    }
}
