footer {
  a
  width: 3000px;
}
div.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
div.container div.align {
    position: relative;
    width: 3000px;
    left: 50%;
    margin: 0 0 0 -1500px;
    text-align: center;
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock {
  position: absolute;
  top: 4900px;
  left: 50%;
  transform: translate(-50%, -50%);
}
